div {
    width: 50%;
    margin: 0 auto;
}

h3, .code {
    text-align: center;
}

span {
    padding: 5px;
    background-color: pink;
}

i {
    color: brown;
    font-weight: bold;
}